a.jpeg
a.pdf
branco.jpg
compactado.huff
compressed.huff
descompactado.jpeg
descompactado.jpg
descompactado.mp3
descompactado.mp4
descompactado.pdf
descompactado.png
descompactado.txt
e.mp4
m.mp3
main
oi
oii.png
t.txt
teste.mp4
launch.json
tasks.json